<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Informacion</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8140.465567677977!2d-84.1350925881765!3d9.933178785710144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fc806d80b6e7%3A0x43db42635f1e3937!2sAvenida%20Escazu!5e1!3m2!1sen!2scr!4v1729633101198!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
